/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Alien-Xmake-*

.tidyall.d
temp
t/test_cpp
t/.xmake/
test_cpp
share/
share/bin
*.session
xmake.*
.xmake/*
xmake_installer*
MANIFEST

_build_xmake
eg/inst.pl
eg/xmake-inst/

eg/test/
